
#a{
    height: 150px;
    width: 150px;
   
    
}
#e{
    height: 150px;
    width: 150px;
   
    
}
#i{ 
    height: 150px;
    width: 150px;
   
    
}
#o{ 
    height: 150px;
    width: 150px;
   
}
#u{
    height: 150px;
    width: 150px;
   
}

.lletres{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
        
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    background-color: yellow;
    
    cursor: url(../img/speaker.png), auto;
}

#footer{
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: #333;
}

#footer img{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    float: right;
}

#footer a{
    text-decoration: none;
    color: #9d9d9d;
    font-family: "Montserrat",sans-serif;
}

#footer a:hover{
    text-decoration: none;
    color: white;
    font-family: "Montserrat",sans-serif;
}