.animalcontent{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    
     -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    width: 315px;
    
}
.contentSo{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
   
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
}
.animal{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    
    width: 250px;
    height: 250px; 
    
    margin-top: 25px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nom{
    margin-top: 10px;
    text-align: center;
    width: 30%;
}

.so{
    width: 25px;
    height: 25px;
    
    background-image: url(../img/speaker.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#cavall{
    background-image: url(../img/cavall.png);
}
#conill{
    background-image: url(../img/conill.png);
}
#elefant{
    background-image: url(../img/elefant.png);
}
#girafa{
    background-image: url(../img/girafa.png);
}
#os{
    background-image: url(../img/os.png);
}
#panda{
    background-image: url(../img/panda.png);
}
#porc{
    background-image: url(../img/porc.png);
}
#tigr{
    background-image: url(../img/tigre.png);
}
#tortuga{
    background-image: url(../img/tortuga.png);
}

#soCavall{
    margin-left: 209px;
    margin-top: 28px;
}
#soElefant{
    margin-right: 150px;
    margin-top: 20px;
    
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
#soOs{
    margin-left: 135px;
    margin-bottom: 95px;
}
#soPorc{
    margin-right: 185px;
    margin-top: 25px;
    
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
#soTigre{
    margin-right: 155px;
    margin-top: 5px;
    
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}